/* ---------------------------------------- */
/* COMPONENT STYLES FOR TABLET 
/* (when the device width is 768px and under)
/* ---------------------------------------- */

/***/
/* --->> DIGITAL CV PAPGE <<--- 
/***/

/* << Header >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  #banner {
    height: 60vh;
  }

  .banner-text {
    text-align: center;
  }
}

/* << Navigation bar >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  #nav-bar a {
    padding: 22px 30px;
  }

  .info-tab {
    width: 8%;
  }

  .info-tab img {
    display: none;
  }
}

/* << Personal Details >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  #target,
  #personal-info {
    padding: 70px 22px 22px 22px;
  }
}

/* << Work experience cards >>*/
/* Tablets and under */
@media screen and (max-width: 768px) {
  .job-inner > article:nth-child(3) {
    padding-top: 1rem;
  }

  .job-inner > article:nth-child(4) {
    padding-bottom: 1rem;
  }

  #job-info .card-body {
    padding: 54px 22px 22px 22px;
  }
}

/* << Certificate >>*/
/* Tablets ONLY */
@media screen and (max-width: 768px) and (min-width: 576.01px) {
  .cert-inner .cert-item img {
    max-width: 100%;
    height: auto;
  }

  .cert-inner .cert-item {
    flex-direction: column;
    justify-content: flex-start;
  }

  .cert-inner .cert-desc {
    margin: 0;
    width: 100%;
  }

  .cert-inner .cert-item:first-child img {
    border-right: 1.7px solid #d6c08d;
  }

  .cert-inner .cert-item:not(.cert-item:nth-child(2)) img {
    padding-right: 1rem !important;
  }

  .cert-inner .cert-item:nth-child(2) img {
    margin: 0;
    padding-left: 1rem !important;
    padding-right: 0 !important;
  }

  .cert-inner > *:not(.cert-inner > *:nth-child(2)) .cert-desc {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }

  .cert-inner > *:nth-child(2) .cert-desc {
    padding-left: 1rem !important;
    padding-right: 0 !important;
  }
}

/* << Project list >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  .sub-info {
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .sub-info .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .marked {
    padding: 2px 14px;
  }
}

/* << Footer >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  #footer .container {
    width: 50%;
  }
}

/***/
/* --->> PROJECT CHARTER PAPGE <<--- 
/***/

/* << Charter Header >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  p.ct-desc {
    text-align: center;
  }
}

/* << Charter >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  .charter {
    padding: 0 20px;
  }

  .charter > .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .charter > .grid > * {
    grid-column: 1 !important;
  }

  .charter > .grid > *:nth-child(3) {
    grid-column: 1;
    grid-row: 5;
  }

  .scopes .grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .goals .flex,
  .team .flex,
  .primary .flex,
  .ct-timeline .flex {
    flex-direction: column;
  }

  .ct-timeline .flex {
    align-items: flex-start;
  }

  .ct-timeline .flex > *:first-child {
    margin-left: 0.6rem;
    margin-bottom: 0.4rem;
  }

  .goals .flex > *:nth-child(2),
  .team .flex > *:nth-child(2),
  .primary .flex > *:nth-child(2) {
    align-self: flex-start;
    margin-top: 0.5rem;
  }

  .flag-icon,
  .user-icon,
  .ques-icon {
    height: 1.4rem;
  }

  .tl-number {
    width: 3rem;
    height: 3rem;
    font-size: 1.1rem;
  }
}

/* << Charter Footer >> */
/* Tablets and under */
@media screen and (max-width: 768px) {
  .ct-footer .footer-item {
    width: calc(100% / 2);
  }
}

/* === END === */
